In [21]:
from pandas import DataFrame
import pandas as pd
import os

database_path = os.path.join(os.getcwd(),"bloons_data.csv")
monkey_data = pd.read_csv(database_path)
monkey_data

,generation,iteration,seq,angle,throwSec,poppedBloons,totalPoppedBloons
0,1,1,1,1.309126,0.500469,11,11
1,1,1,2,0.602394,0.767901,10,21
2,1,1,3,1.509394,0.592680,0,21
3,1,1,4,0.963969,0.660839,6,27
4,1,1,5,0.768324,0.756916,-27,27
...,...,...,...,...,...,...,...
67,2,4,3,1.536983,0.452974,0,13
68,2,4,4,0.312321,0.672826,3,16
69,2,4,5,1.207352,0.575983,-16,16
70,2,5,1,0.571111,0.341976,11,11
71,2,5,2,0.136328,0.658129,0,11

In [22]:
# 결과가 음수인 것은 제외
unallocated_iterations = monkey_data[(monkey_data['generation'] == 1) & (monkey_data['poppedBloons'] < 0)]['iteration'].tolist()  # 목표하던 만큼의 풍선을 터뜨리지 못한 시도 리스트
allocated_iterations = [i+1 for i in range(5) if not i+1 in unallocated_iterations]  # 목표를 완수한 시도 리스트
refined_data = monkey_data.loc[(monkey_data["iteration"].isin(allocated_iterations))]
refined_data

,generation,iteration,seq,angle,throwSec,poppedBloons,totalPoppedBloons
5,1,2,1,0.817189,0.293533,14,14
6,1,2,2,1.180399,0.462891,9,23
7,1,2,3,1.340047,0.236306,1,24
8,1,2,4,0.500200,0.577289,7,31
9,1,2,5,0.938710,0.234970,0,31
15,1,4,1,1.034456,0.363333,13,13
16,1,4,2,0.615931,0.622190,12,25
17,1,4,3,0.438245,0.741268,6,31
18,1,4,4,0.314268,0.545736,4,35
19,1,4,5,0.475859,0.342832,0,35
55,2,2,1,0.640626,0.226380,10,10
56,2,2,2,1.476522,0.461250,1,11
57,2,2,3,0.476433,0.325503,0,11
58,2,2,4,0.111665,0.699096,0,11
59,2,2,5,1.205075,0.340437,-11,11
65,2,4,1,0.327965,0.329479,6,6
66,2,4,2,1.421797,0.441034,7,13
67,2,4,3,1.536983,0.452974,0,13
68,2,4,4,0.312321,0.672826,3,16
69,2,4,5,1.207352,0.575983,-16,16

In [23]:
refined_data = monkey_data.loc[(monkey_data["iteration"].isin(allocated_iterations)) & (monkey_data['generation'] == 1)]
max_popped_iterations = refined_data[refined_data['totalPoppedBloons'] == max(refined_data['totalPoppedBloons'].tolist())]['iteration'].tolist()
max_popped_iterations

,generation,iteration,seq,angle,throwSec,poppedBloons,totalPoppedBloons
5,1,2,1,0.817189,0.293533,14,14
6,1,2,2,1.180399,0.462891,9,23
7,1,2,3,1.340047,0.236306,1,24
8,1,2,4,0.500200,0.577289,7,31
9,1,2,5,0.938710,0.234970,0,31
15,1,4,1,1.034456,0.363333,13,13
16,1,4,2,0.615931,0.622190,12,25
17,1,4,3,0.438245,0.741268,6,31
18,1,4,4,0.314268,0.545736,4,35
19,1,4,5,0.475859,0.342832,0,35

In [24]:
import random
chosen_data = refined_data[refined_data['iteration'] == random.choice(allocated_iterations)][['iteration','seq','angle','throwSec']]
throwData = chosen_data[["angle","throwSec"]].values.tolist()
throwData

[[1.034456475388153, 0.3633326710866913],
 [0.6159309317252767, 0.6221896341920095],
 [0.4382450945544481, 0.7412684750404257],
 [0.3142678398567732, 0.5457364002299625],
 [0.4758593576419872, 0.3428322975332417]]